body {
  background-color: #000;
  background: url(./music3.png) no-repeat center;
}

.container {
  display: flex;
  gap: 1rem;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.keys {
  padding: 1rem 2rem;
  border: 1px solid #767676;
  border-radius: 0.5rem;
  text-align: center;
  background-color: bisque;
  transition: all 0.07s;
  cursor: pointer;
}

.playing {
  cursor: pointer;
  border: 1px solid #ffff00;
  box-shadow: 0 0 10px #ffff00;
  transform: scale(1.2);
}

.keys p {
  color: chocolate;
}

.btn-key {
  font-size: 2rem;
  color: #000;
  font-family: monospace;
}
